.main-footer{
    color: black;
    background-color: lightgrey;
    position: relative;
    bottom: 0;
    width: 100%;
}

.col {
    float: left;
  }
  
  .row {
    display: flex;
  }

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 0.1px;
}