.main-footer{
  color: black;
  background-color: lightgrey;
  position: relative;
  padding: 2.5rem;
  bottom: 0;
  width: 100%;
}

.col {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul{
  list-style-type: none;
}